@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
    width: 100%; 
    height: 99vh;
}
.hover-pointer:hover {
    cursor: pointer;
}
.cust-header-background {
    background-image: url(https://ik.imagekit.io/123helpmestudy/uc?export=view&id=1MObN2awVJFHbwsOlSjY3GvTt50wVM5up);
}
.max-card {
    max-width: 600px;
}
.max-view {
    max-width: 1000px;
}
.phone {
    z-index: 4;
    text-align: center;
    display: block;
    position: fixed;
    padding: 5px;
    bottom: 130px;
    right: 1%;
}
.email {
    z-index: 4;
    text-align: center;
    display: block;
    position: fixed;
    padding: 5px;
    bottom: 70px;
    right: 1%;
}
.skype {
    z-index: 4;
    text-align: center;
    display: block;
    position: fixed;
    padding: 5px;
    bottom: 10px;
    right: 1%;
}
.instant-message {
    z-index: 4;
    text-align: center;
    display: block;
    position: fixed;
    padding: 5px;
    bottom: 10px;
    right: 1%;
}
.chat-left {
    border-radius: 15px;
    border-bottom-left-radius: 0;
}
.chat-right {
    border-radius: 15px;
    border-bottom-right-radius: 0;
}
.comms-image {
    width: 50px;
    height: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    vertical-align: middle;
    border-radius: 13px;
}
.card-1-bg {
    background-color: rgb(219, 245, 245);
}
.card-2-bg {
    background-color: rgba(22, 22, 22, 0.952);
}
.card-2-bg-img {
    background-image: url("https://ik.imagekit.io/123helpmestudy/tr:h-1080,w-1920/uc?export=view&id=1S9iR0AedruEzMRmmMvtwIaVTf5CGPHx5");
    /* -webkit-animation: zoomin 2s 1; */
}
/* @keyframes zoomin {
    0% {
        -webkit-transform: scale(2);
    }
    100% {
        -webkit-transform: scale(1);
    }

} */
.paragraph-seperator {
    border: solid 1px;
    border-color: rgba(100,100,100);
}
.warning-bg {
    background-color: rgba(255, 168, 168, 0.801);
}
.alert-bg {
    background-color: rgba(255, 221, 109, 0.493);
}
.success-bg {
    background-color: rgba(130, 248, 146, 0.541);
}
.primary-bg {
    background-color: rgb(17, 81, 255);
    border-radius: 5px;
}
.circle-img {
    border-radius: 50%;
    max-width: 200px;
}
.circle-img-profile-list {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.add-img-btn {
    width: 25px;
}
.hidden-el {
    display: none;
}
.dashboard-button {
    transition: background-color 1s;
}
/* .dashboard-button:hover {
    background-color: rgb(143, 201, 255);
    border-color: rgb(84, 172, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
} */
.dashboard-button:hover {
    background-color: rgba(143, 201, 255, 0.40);
    border-color: rgb(84, 172, 255, 0.5);
    /* color: rgb(255, 255, 255); */
    cursor: pointer;
}
.danger-dashboard-button:hover {
    background-color: rgb(255, 118, 118);
    border-color: rgb(255, 50, 50);
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
.strip-link {
    color: rgb(0, 0, 0);
}
.strip-link:hover {
    text-decoration: none;
}
.strip-link-black {
    color: rgb(0, 0, 0);
}
.strip-link-black:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.light-blue-card {
    background-color: rgba(193, 225, 255, 0.589);
    border-radius: 15px;
    border-bottom-left-radius: 0;
}
.light-green-card {
    background-color: rgba(207, 253, 201, 0.541);
    border-radius: 15px;
    border-bottom-right-radius: 0;
}
.light-warning-card {
    background-color: rgba(255, 242, 166, 0.637);
}
.hourly-rate {
    border: solid 2px rgb(255, 255, 255);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding-top: 40px;
    font-size: 25px;
    font-weight: 900;
    background-color: rgb(143, 201, 255);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    top: 10px;
    left: -10px;
}
#service-charge {
    border: solid 2px rgb(0, 87, 7);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    padding-top: 2px;
    padding-right: 4px;
    background-color: rgb(4, 179, 27);
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 3;
    top: -40px;
    left: 60px;
}
.little-flag {
    max-width: 45px;
}
.nav-bar-menu-item {
    color: rgb(165, 165, 165);
    display: block;
    padding: .5rem 1rem;
}
.nav-bar-menu-item:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.nav-bar-bg-colour {
    background-color: rgba(22, 22, 22, 0.952);
}
.nav-underline {
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 0rem;
    margin-left: auto;
    margin-right: auto;
    transition: width 1s;
}
@media only screen and (min-width: 992px) {
    .nav-bar-menu-item-ext:hover + .nav-underline {
        width: 4rem;
    }
}
.social-media-icon-footer {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
    transition: 0.75s;
    transition-property: width height;
}
.social-media-icon-footer:hover {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 60px;
    height: 60px;
}
