<a href="tel:07493696970">
    <div class="phone">
        <img class="comms-image" alt="call or text 123 help me study" src="https://ik.imagekit.io/123helpmestudy/123_Help_Me_Study/Website_Media/phone-icon_vfkqE-lLC.png">
    </div>
</a>
<a href="https://join.skype.com/invite/brePqBzYCveV">
    <div class="skype">
        <img class="comms-image" alt="skype 123 help me study" src="https://ik.imagekit.io/123helpmestudy/123_Help_Me_Study/Website_Media/skype-icon_GsT8vFll7cwp.png">
    </div>
</a>